@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* global colors */

    --prime: rgb(220, 220, 220);
    --white: #fff;
    --prime-font :  font-family: "Montserrat", sans-serif;


}

body {

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: var(--prime);
}

.main-container {

    /* border: 1px solid red; */
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.image{
    height: 24rem;
    border-radius: 12px;
    width: 28%;
    box-shadow: 4px 4px 10px #434343;
    border: 4px solid #fff;
}

.image-1 {

    /* border: 1px solid green; */
    /* height: 24rem; */
    background: url(./images/pexels-quang-nguyen-vinh-222549-2161449\ \(1\).jpg);
    /* flex-grow: 1; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}




.content {
    /* height: 100px; */
    line-height: 1.25;
    width: 90%;
    z-index: 10;
    position: absolute;
    bottom: 0;
    margin-bottom: -20rem;
    /* animation-name: outside; */
    transition: 700ms ease-in-out;
    border-radius: 12px;
    z-index: 100;
    background-color: var(--white);
    padding: 15px 20px;
    text-align: center;
    opacity: 0;
    
}

/* @keyframes outside{
    0%{
        transform: translateY(-1px);

    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(-50px);
    }
} */


/* .image-1:hover{

    overflow: visible;
} */


.image-1:hover .content {

    opacity: 1;
    margin-bottom: 20px;
    z-index: 1000;
    
}



/* image 1 css ends here  */



/* 
.image-2:hover::after {

    margin-bottom: 0;

}

.image-2 {

    height: 24rem;
    background: url(./images/The\ Commercial\ Group-103.jpg);
    /* flex-grow: 1; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
}

.image-2::after{
    content: "";
    background-color: rgba(10, 10, 10, 0.369);
    height: 100%;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: 900ms ease-in-out;
    border-radius: 12px;
}
.image-2:hover::after{

    opacity: 1;
}

.content-2{
    opacity: 0;
       
}


.image-2:hover .content-2{
    opacity: 1;
    
}




.image-3 {

    border: 1px solid green;
    height: 24rem;
    background: url(./images/The\ Commercial\ Group-103.jpg);
    flex-grow: 1;
} */ 

.image-2{

    /* flex-grow: 1; */
    background: url(./images/pexels-quang-nguyen-vinh-222549-2161467\ \(1\).jpg);
    position: relative;
    overflow: hidden;
    text-align: center;
}



.content-2{

    position: absolute;
    bottom: 0;
    margin-bottom: -45px;
    transition: 600ms all ease-in-out;
    color: var(--white);
    z-index: 100;
    width: 100%;

   
}

.image-2::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    transition: 800ms all ease-in-out;
}

.image-2:hover::after{

    opacity: 1;
}

.image-2:hover .content-2{

    margin-bottom: 20px;
    
}

/* 2nd css ends here */

/* 3rd card css start here  */

.image-3{

    background: url(./images/pexels-te-lensfix-380994-1371360\ \(1\).jpg);
    /* flex-grow: 1; */
    position: relative;
    overflow: hidden;
}

.content-3{

    color: var(--white);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -80px;
    z-index: 100;
    transition: 600ms all ease-in-out;
    
}

.content-3 .btn{

    padding: 15px 20px;
    /* width: 30%; */
    border: none;
    border-radius: 35px;
    font-weight: 600;
    cursor: pointer;
}

.image-3::after{
    content: "";
    background-image: linear-gradient(180deg,  rgba(2, 2, 2, 0.5), rgb(12, 12, 12,0.9));
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: 600ms all ease-in-out;
    cursor: pointer;
}

.image-3:hover::after{
    opacity: 1;
}

.image-3:hover .content-3{

    bottom: 15px;
}



