@media screen and (max-width : 967px){

body{

    padding-top: 400px;
    padding-bottom: 200px;
}

  .main-container{

   flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;

  }

  .image{
    width: 100%;
    height: 250px;
  }
}